Flask==0.10.1
Flask-Bootstrap==3.3.0.1
Flask-Mail==0.9.1
Flask-WTF==0.10.3
GnuPGInterface==0.3.2
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
WTForms==2.0.1
Werkzeug==0.9.6
apt-xapian-index==0.44
argparse==1.2.1
blinker==1.3
chardet==2.0.1
command-not-found==0.2.44
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
itsdangerous==0.24
language-selector==0.1
python-apt==0.8.3ubuntu7
python-debian==0.1.21ubuntu1
redis==2.10.3
ufw==0.31.1-1
wsgiref==0.1.2
